/* optimisation css. Tout en rem 5/20 */
html{ 
    font-size: 62.5%;  /* 1.000rem root em 10px */
}
body{
    font: 1.6rem "Roboto",sans-serif; /* 16px */
    margin: 0;
    color: #222;
}
h1,h2,h3,h4,p,ol,ul,figure,dd,button{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
h1,h2,h3,h4{
    font-weight: 300;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
      color: #fff;
      text-align: center;
      margin: 1rem;
      margin-bottom: 2rem;
  }
  body {
    background: rgb(56, 56, 56);
  }
  .container {
    max-width: 80rem;
    max-height: 80rem;
    margin: 0 auto;
    padding: 5rem;
  }
  .slider, .cont-btn{
    border: solid #fff;
  }
  
  .slider img {
    width: 100%;
    display: none;
  }
  button{
      border: none;
      background-color: #fff;
  }
  img.active {
    display: block;
    animation: fade 0.8s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .cont-btn {
    width: 100%;
    height: auto;
    box-shadow: 0 .1rem .1rem rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    background-color: #fff;
  }
  .btn-nav {
    font-size: 5rem;
    margin: 0 1.5rem;
    cursor: pointer;
  }